<div class="flex flex-col justify-evenly">
  <.simple_form for={@form} phx-target={@myself} phx-submit="submit" class="space-y-3">
    <.character_selection
      label="Personaggio"
      field={@form[:character_id]}
      characters={@online_characters}
    />

    <.button phx-disable-with="Sending..." class="w-full">
      Tira
    </.button>
  </.simple_form>
</div>
