<.h1>Seleziona il lavoro</.h1>

<.table id="organisations" rows={@streams.organisations}>
  <:col :let={{_, o}} label="Name"><%= o.name %></:col>
  <:col :let={{_, o}} label="Name"><%= o.description %></:col>
  <:col :let={{_, o}} label="Name"><%= o.base_salary %> $</:col>
  <:col :let={{_, o}} label="Name">
    <img alt={"#{o.name} logo"} src={o.image} />
  </:col>
</.table>
