<.link
  :if={@current_character}
  class="fixed bottom-[150px] left-[50px] w-[80px] h-[80px] text-white hidden xl:block"
  navigate={~p"/rest"}
>
  <img src="/images/BedIcon.webp" alt="Rest character" class="max-w-[80px] h-auto absolute" />
</.link>
