<.h1>Edita scheda del personaggio</.h1>

<.return_link navigate={~p"/admin"}>
  Torna alla dashboard
</.return_link>

<.live_component id="character-exp-form" module={CharacterSheetEditExp} characters={@characters} />

<.hr />

<.live_component
  id="character-status-form"
  module={CharacterSheetEditStatus}
  characters={@characters}
/>

<.hr />

<.live_component
  id="character-skills-form"
  module={CharacterSheetEditSkill}
  characters={@characters}
  skills={@skills}
/>
