<div class="h-screen w-full flex flex-col justify-between">
  <div class="overflow-x">
    <%= for chat <- @chat_entries do %>
    <div>
      <%= chat.text %>
    </div>
    <% end %>
  </div>
  <%= if @current_character do %>
    <.live_component 
      module={ChatControlLive} 
      id={@map.id} 
      current_character={@current_character}
      class="min-h-[150px]"
      map={@map} />
  <% end %>
</div>
