<div class="h-[calc(100vh-2.5rem)] w-full flex flex-col justify-start">
  <.chat_entries_screen 
    class="overflow-y-auto min-h-[calc(100vh-150px-2.5rem)]"
    map_id={@map.id}
    chat_entries={@chat_entries} />

  <%= if @current_character do %>
    <.live_component 
      module={ChatControlLive} 
      id={@map.id} 
      current_character={@current_character}
      textarea_id={@textarea_id}
      class="min-h-[150px]"
      map={@map} />
  <% end %>
</div>
