<div class="relative w-full flex justify-center">
  <img src={"/images/location/#{@map.image_name}.webp"} aria-label={@map.name} usemap="#localmap" class="w-[700px] h-[700px]" />
</div>

<map name="localmap">
  <%= for child <- @map.children do %>
    <.area shape={child.coords_type} coords={child.coords} navigate={~p"/chat/#{child.id}"} alt={child.name} />
  <% end %>
</map>