<div class="text-center">
  <h1 class="font-berolina">Online</h1>

  <%= for location <- Map.keys(@online) do %>
    <.link href={~p"/chat/#{(@online[location] |> Enum.at(0)).map.id}"}>
      <h2 class="font-report"><%= location %></h2>
    </.link>

    <%= for online_info <- @online[location] do %>
      <p class="font-typewriter"><%= online_info.character.name %></p>
    <% end %>
  <% end %>
</div>
